/* ===== Default css ===== */
html {
    font-size: 62.5%;
    box-sizing: border-box;

    /* Fonts */
    --roboto: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    --inter: 'Inter', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/* Used to change user's projects arrow direction */
@keyframes projectsButtonChangingDirection {
    0% {
        transform: rotate(-15deg);
    }

    15% {
        opacity: 0.3;
    }

    25% {
        opacity: 0.5;
        transform: rotate(-30deg);
    }

    50% {
        opacity: 0.7;
        transform: rotate(-50deg);
    }

    75% {
        opacity: 0.9;
        transform: rotate(-70deg);
    }

    100% {
        opacity: 1;
        transform: rotate(-90deg);
    }
}

@keyframes delayAside {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

            /* ========== HEADER STYLES ========== */
#todo-header {
    display: flex;
    align-items: center;
    column-gap: 2.5rem;
    padding: 1.2rem 2rem;
    background-color: #de483a;
    box-shadow: 0 0 1rem black;
    grid-column: 1 / 3;
    z-index: 1;
}

#hamburguer-menu-button, #home-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    filter: opacity(65%);
    transition: all 150ms;
}

#hamburguer-menu-button:hover, #home-button:hover {
    filter: none;
}

#hamburguer-menu-button:active, #home-button:active {
    scale: 0.9;
}

#search-input {
    border: none;
    border-radius: 0.5rem;
    padding-left: 3.5rem;
    height: 3.2rem;
    background: url(./assets/header-icons/lupe-icon.svg) no-repeat 0.5rem center;
    background-color: #db7167;
    font-family: var(--roboto);
    color: white;
}

#search-input:focus {
    outline: 1px solid #ff5242;
}

#search-input::placeholder {
    color: white;
}

#search-input:focus::placeholder {
    color: transparent;
}

            /* ========== ASIDE STYLES ========== */
#aside-navigation {
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
    overflow-y: auto;
    background-color:#dfdfdf1f; /* #db71672c */
    grid-column: 1 / 2;
}

/* Need this to apply custom scrollbar */
/* ::-webkit-scrollbar {
    width: 20px;
}

#aside-navigation::-webkit-scrollbar-button:start:decrement,
#aside-navigation::-webkit-scrollbar-button:start:increment {
    border: 1px solid red;
}

#aside-navigation::-webkit-scrollbar-button:end:decrement,
#aside-navigation::-webkit-scrollbar-button:end:increment {
    border: 1px solid blue;
}

#aside-navigation::-webkit-scrollbar-thumb {
    background: green;
} */

/* Default style of all buttons inside #aside-navigation */
#aside-navigation > button, 
#create-and-list-user-projects > button,
.project-name-and-tasks > div:first-of-type {
    display: flex;
    column-gap: 1.2rem;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-family: var(--roboto);
    font-weight: bold;
    transition: all 150ms;
}

#aside-navigation > button:hover, 
#create-and-list-user-projects:hover,
.project-name-and-tasks > div:first-of-type:hover {
    border-radius: 0.5rem;
    background-color: rgba(218, 218, 218, 0.993);
}

/* Today and this week buttons */
#aside-navigation > button :first-child {
    order: 1;
}

#aside-navigation > button :last-child {
    filter: opacity(60%);
    transition: filter 150ms;
}

#aside-navigation > button:hover :last-child {
    filter: none;
}

#aside-navigation > button:active {
    scale: 0.9;
}

#aside-navigation > button:last-of-type {
    margin-bottom: 1.5rem;
}

/* ========== My projects button --- open the user's project list ========== */
#user-projects {
    display: flex;
    flex-direction: column;
}

#create-and-list-user-projects {
    display: flex;
    justify-content: space-between;
    transition: all 150ms;
}

#user-projects-button :first-child {
    font-weight: bold;
    order: 1;
}

/* Button to open the new project form */
#create-and-list-user-projects #add-new-project-button {
    filter: invert(0.6);
}

#create-and-list-user-projects #add-new-project-button:hover {
    filter: none;
}

#add-new-project-button:active {
    scale: 0.9;
}

#add-new-project-button img {
    vertical-align: middle;
}

/* ========== Form that opens to add a new project ========== */
#form-add-project {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1.5rem; /* Margin used to properly show the error field */
    border-radius: 0.5rem;
    font-size: 1.4rem;
    font-family: var(--roboto);
}

#form-add-project:hover {
    background-color: rgb(218, 218, 218);
}

#form-add-project > div:first-of-type {
    flex-grow: 2;
}

#form-add-project > div:first-of-type input#project-name {
    width: 100%;
    border: 1px solid black;
    font-size: 1.2rem;
    font-family: var(--roboto);
    padding: 0.8rem;
}

#form-add-project > div:first-of-type input#project-name:focus {
    border-color: transparent;
    outline: 1px solid #ff5242;
}

#form-add-project > div:first-of-type input#project-name:focus::placeholder {
    color: transparent;
}

#form-add-project > div:last-of-type {
    align-self: center;
    display: flex;
    column-gap: 0.2rem;
    margin-left: auto;
}

#form-add-project > div:last-of-type button img {
    vertical-align: middle;
}

/* Buttons inside the new project form */
#form-add-project button {
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
}

#form-add-project button {
    filter: brightness(130%) opacity(70%);
    transition: filter 300ms;
}

#form-add-project button:hover {
    scale: 1.1;
    filter: none;
}

#form-add-project button:active {
    scale: 0.9;
}

/* ========== Section of user's projects  ========== */
#list-projects-user {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    row-gap: 0.5rem;
}

.project-name-and-tasks {
    display: flex;
    flex-direction: column;
}

.project-name-and-tasks .project {
    padding-right: 0.7rem !important;
    font-size: 1.4rem !important;
    font-weight: normal !important;
}

.project p {
    overflow-x: auto;
}

.project :last-child {
    margin-left: auto;
    padding: 0.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    filter: invert(0.6);
    transition: filter 150ms;
}

.project :last-child:active {
    scale: 0.9;
}

.project :last-child:hover {
    border-color: black;
    filter: none;
}

.project-tasks-aside {
    display: flex;
    flex-direction: column;
    margin-left: 0.7rem;
}

.project-tasks-aside .task-aside, 
.project-tasks-aside .project-empty-hint{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-family: var(--roboto);
    font-size: 1.3rem;
    padding: 0.5rem;
}

.project-tasks-aside .task-aside:not(.project-empty-hint):hover {
    border-radius: 0.5rem;
    background-color: rgb(218, 218, 218);
}

/* Task priority button colors */
.no-priority, .high, .low {
    border-width: 1px;
    border-style: solid;
}

.no-priority {
    border-color: rgba(0, 0, 0, 0.4);
}

.high {
    border-color: rgba(212, 7, 7, 0.6);
    background-color: rgba(212, 7, 7, 0.1);
}

.low {
    border-color: rgba(0, 4, 255, 0.6);
    background-color: rgba(0, 162, 255, 0.1);
}

.task-aside .task-priority-aside {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 1rem;
    border: none;
    flex-shrink: 0;
}

.task-priority-aside.no-priority {
    background-color: rgba(0, 0, 0, 0.4);
}

.task-priority-aside.high {
    background-color: rgba(212, 7, 7, 0.8);
}

.task-priority-aside.low {
    background-color: rgba(0, 4, 255, 0.7);
}

            /* ========== MAIN CONTENT STYLES ========== */
#main-content {
    padding: 3rem 10rem;
    overflow-y: auto;
    grid-column: 2 / 3;
}

/* Expand main content to fill the space left by the aside */
.aside-hide#aside-navigation + #main-content {
    grid-column: 1 / 3;
}

#main-content .project-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

#main-content .project-header {
    display: flex;
    column-gap: 2rem;
    align-items: center;
}

#main-content .project-name {
    font-family: var(--roboto);
    font-size: 2.8rem;
    padding: 0.5rem;
    overflow-x: auto;
    border: 1px solid transparent;
}

#main-content .project-header .edit-project-buttons,
#main-content .project-header .project-buttons {
    display: flex;
    flex-wrap: wrap;
    height: min-content;
    width: max-content;
}

#main-content .project-header .edit-project-buttons > button,
#main-content .project-header .project-buttons > button {
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    transition: all 150ms;
}

#main-content .project-header .edit-project-buttons > button {
    filter: opacity(70%);
}

#main-content .project-header .project-buttons > button {
    filter: opacity(70%) grayscale(100%);
}

#main-content .project-header .edit-project-buttons > button:active,
#main-content .project-header .project-buttons > button:active {
    scale: 0.9 !important;
}

#main-content .project-header .edit-project-buttons > button:hover,
#main-content .project-header .project-buttons > button:hover {
    scale: 1.1;
    filter: none;
}

#main-content .project-header .edit-project-buttons img,
#main-content .project-header .project-buttons img {
    vertical-align: middle;
}

#main-content .project-tasks-main {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#main-content .project-tasks-main .task-main {
    padding: 1.4rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main-content .project-tasks-main .task-left-side {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

/* Buttons of a task in the main-content */
#main-content .project-tasks-main .task-right-side {
    display: flex;
    align-items: center;
    column-gap: 0.2rem;
}

#main-content .project-tasks-main .task-right-side > button {
    width: 2.4rem;
    height: 2.4rem;
    border: none;
    outline: none;
    background: transparent;
    filter: opacity(80%) grayscale(100%);
    transition: filter 150ms;
}

#main-content .project-tasks-main .task-right-side > button:active {
    scale: 0.9 !important;
}

#main-content .project-tasks-main .task-right-side > button:hover {
    filter: none;
    scale: 1.1;
}

#main-content .project-tasks-main .task-right-side > button:first-of-type:hover {
    filter: hue-rotate(270deg) saturate(180%) blur(0.5px);
}

#main-content .project-tasks-main .task-right-side > button:last-of-type:hover {
    filter: hue-rotate(135deg) saturate(220%);
}

#main-content .project-tasks-main .task-right-side img {
    vertical-align: middle;
}

.task-main .task-priority-main {
    align-self: flex-start;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 1rem;
}

.task-main .task-name-and-date {
    display: flex;
    flex-direction: column;
    font-family: var(--roboto);
    font-size: 1.4rem;
}

.task-main .task-due-date {
    font-size: 1.1rem;
}

.project-wrapper .add-task {
    border: none;
    outline: none;
    background: transparent;
}

.add-task {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding: 0 1.2rem;
    cursor: pointer;
    font-family: var(--roboto);
    font-size: 1.4rem;
    filter: opacity(60%);
    transition: font-size 150ms;
}

.add-task:hover {
    font-size: 1.5rem;
    filter: none;
}

#modal-box.hide {
    display: none;
}

#modal-box.show {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 2;
}

#form-task {
    font-family: var(--roboto);
    font-size: 1.5rem;
    min-width: 30vw;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    background-color: #dfdfdfa8;
    border-radius: 0.5rem;
    box-shadow: 0 0 2rem black;
}

#form-task .form-header {
    padding: 1rem;
    background-color: #de483a;
    font-family: var(--inter);
    font-size: 1.8rem;
    color: white;
    border-radius: 0.5rem 0.5rem 0 0;
}

#form-task > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.2rem;
    margin: 0 1rem;
}

#form-task > div :first-child:not(#add-task) {
    font-weight: bold;
}

#form-task > div input, 
#form-task > div textarea {
    padding: 1rem;
    border: 1px solid rgba(180, 180, 180, 0.993);
    outline: none;
    width: 100%;
    font-family: var(--inter);
    font-size: 1.2rem;
}

#form-task fieldset {
    display: flex;
    column-gap: 2rem;
    border: none;
    margin: 0 1rem;
}

#form-task fieldset legend {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

#form-task fieldset > div {
    display: flex;
    column-gap: 0.3rem;
}

#form-task fieldset > div > label {
    order: 1;
}

#form-task #form-buttons {
    flex-direction: row;
    column-gap: 0.5rem;
    margin: 1rem;
}

#form-task #form-buttons > button {
    border: none;
    font-family: var(--inter);
    font-size: 1.3rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#form-task #form-buttons > button:hover {
    transition: scale 150ms;
    scale: 1.1;
}

#form-task #form-buttons #add-task {
    background-color: rgba(8, 190, 78, 0.4);
}

#form-task #form-buttons #add-task:hover {
    background-color: rgb(6, 185, 75);
}

#form-task #form-buttons #cancel-task {
    background-color: rgba(255, 82, 66, 0.4);
}

#form-task #form-buttons #cancel-task:hover {
    background-color: rgb(255, 82, 66);
}

@media (max-width: 1366px) {
    body {
        grid-template-columns: 1fr 3fr;
    }
}